*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif; }

body {
  background-color: #f0f6ff; }

.main {
  position: relative;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: 90%; }
  .main h1 {
    color: #02295a;
    margin-bottom: 7.5px; }
  .main h3 {
    font-size: 16px;
    font-weight: 500;
    color: #9699ab; }

.container {
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 100px auto;
  background-color: white;
  width: 900px;
  height: 550px;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
  padding: 15px; }

.nav {
  height: 100%;
  padding: 25px;
  padding-top: 40px;
  background-image: url("./../assets/images/bg-sidebar-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 50px; }
  .nav__element {
    display: flex;
    color: #f0f6ff;
    gap: 10px;
    align-items: center; }
    .nav__element:first-child .nav__number {
      background-color: #bfe2fd;
      border-color: #bfe2fd;
      color: black; }
    .nav__element:not(:last-child) {
      margin-bottom: 30px; }
    .nav__element .nav__number {
      font-size: 14px;
      border: 1px solid #d6d9e6;
      padding: 7.5px 12.5px;
      border-radius: 50%;
      font-weight: 700; }
    .nav__element .nav__content {
      text-transform: uppercase;
      letter-spacing: 1.5px; }
      .nav__element .nav__content__step {
        font-weight: 300;
        color: #d6d9e6;
        margin-bottom: 2.5px;
        font-size: 12px; }
      .nav__element .nav__content__text {
        font-size: 14px;
        font-weight: 700; }

.form {
  margin-top: 30px; }
  .form div:not(:last-child) {
    margin-bottom: 25px; }
  .form div label {
    color: #02295a;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400; }
  .form div input {
    transition: all 0.25s;
    padding: 12.5px;
    border: 1.75px solid #d6d9e6;
    border-radius: 7.5px;
    width: 100%;
    color: #02295a;
    font-weight: 500;
    font-size: 16px;
    outline: none; }
    .form div input[type="text"]:focus {
      border: 1.75px solid #02295a; }
    .form div input[type="text"]::placeholder {
      color: #9699ab; }

.next-step {
  border: 2px solid #02295a;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #02295a;
  color: white;
  padding: 12.5px 17.5px;
  position: absolute;
  right: 50px;
  bottom: -10px;
  cursor: pointer; }
