$color-primary-marine-blue: hsl(213, 96%, 18%);
$color-primary-purplish-blue: hsl(243, 100%, 62%);
$color-primary-pastel-blue: hsl(228, 100%, 84%);
$color-primary-light-blue: hsl(206, 94%, 87%);
$color-primary-strawberry-red: hsl(354, 84%, 57%);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-neutral-cool-gray: hsl(231, 11%, 63%);
$color-neutral-light-gray: hsl(229, 24%, 87%);
$color-neutral-magnolia: hsl(217, 100%, 97%);
$color-neutral-mlabaster: hsl(231, 100%, 99%);
$box-shadow-medium: 0 5px 50px rgba($color-black, 0.1);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body {
    background-color: $color-neutral-magnolia;
}

.main {
    position: relative;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 90%;
    width: 650px;

    h1 {
        color: $color-primary-marine-blue;
        margin-bottom: 7.5px;
    }

    h3 {
        font-size: 16px;
        font-weight: 500;
        color: $color-neutral-cool-gray;
        margin-bottom: 40px;
    }
}

.container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 50px auto;
    background-color: $color-white;
    width: 900px;
    height: 550px;

    box-shadow: $box-shadow-medium;
    padding: 15px;
}
.nav {
    height: 100%;
    padding: 25px;
    padding-top: 40px;

    background-image: url("./../assets/images/bg-sidebar-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;

    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;

    margin-right: 50px;
    &__element {
        &-active {
            .nav__number {
                background-color: $color-primary-light-blue;
                border-color: $color-primary-light-blue;
                color: $color-black;
            }
        }

        display: flex;
        color: $color-neutral-magnolia;
        gap: 10px;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        .nav__number {
            font-size: 14px;
            border: 1px solid $color-neutral-light-gray;
            padding: 7.5px 12.5px;
            border-radius: 50%;
            font-weight: 700;
        }

        .nav__content {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            &__step {
                font-weight: 300;
                color: $color-neutral-light-gray;
                margin-bottom: 2.5px;
                font-size: 12px;
            }
            &__text {
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}

.form {
    div {
        &:not(:last-child) {
            margin-bottom: 25px;
        }

        label {
            color: $color-primary-marine-blue;
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 400;
        }
        input {
            transition: all 0.25s;
            padding: 12.5px;
            border: 1.75px solid $color-neutral-light-gray;
            border-radius: 7.5px;
            width: 100%;
            color: $color-primary-marine-blue;
            font-weight: 500;
            font-size: 16px;
            outline: none;
            &[type="text"]:focus {
                border: 1.75px solid $color-primary-marine-blue;
            }
            &[type="text"]::placeholder {
                color: $color-neutral-cool-gray;
            }
        }
    }
}

.next-step,
.confirm {
    text-decoration: none;
    border: 2px solid $color-primary-marine-blue;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: $color-primary-marine-blue;
    color: $color-white;
    padding: 12.5px 17.5px;

    position: absolute;
    right: 50px;
    bottom: -10px;
    cursor: pointer;
}

.go-back {
    text-decoration: none;
    // border: 2px solid $color-primary-marine-blue;
    // border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: $color-primary-marine-blue;
    color: $color-white;
    padding: 12.5px 17.5px;

    position: absolute;
    // right: 50px;
    bottom: -10px;
    cursor: pointer;
    left: 50px;
    bottom: -10px;
    background-color: $color-white;
    color: $color-primary-marine-blue;
}
.plans-container {
    display: flex;
    gap: 25px;
    .plan {
        transition: all 0.25s;
        &-active {
            border: 1.75px solid $color-primary-purplish-blue;
            background-color: $color-neutral-magnolia;
        }

        &:hover {
            cursor: pointer;
            border: 1.75px solid $color-primary-purplish-blue;
        }
        font-weight: 500;
        width: 125px;
        height: 150px;
        padding: 15px;
        padding-top: 20px;
        border: 1.75px solid $color-neutral-light-gray;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        &-logo {
        }
        &-name {
            margin-top: 30px;
            font-size: 16px;
            color: $color-primary-marine-blue;
        }
        &-price {
            color: $color-neutral-cool-gray;
            font-size: 14px;
            margin-top: 5px;
        }
    }
}
